@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
section{
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    background: #27282c;
    flex-direction: column;
    justify-content: flex-start;
}
header{
    position: relative;
    top: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .logo{
    position: relative;
    color: black;
    font-size: 30px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 1px;
}
header .navigation a{
    color: black;
    text-decoration: none;
    font-weight: 500;
    letter-spacing: 1px;
    padding: 2px 15px;
    cursor: pointer;
    border-radius: 20px;
    transition: 0.3s;
    transition-property: background;
}
header .navigation a:not(:last-child){
    margin-right: 30px;
}
header .navigation a:hover{
    background: blue;
}
.footer{
    position: fixed;
    background-color:black ;
    display: flex;
    margin-top: 3px;
    width: 100%;
    min-height: auto;
    color: white;
    border-radius: 6px;
    position: relative;
    flex-direction: column;
    justify-content: flex-start;
}

.logo{
    position: center;
    margin-top: 2px;
    margin-left: 0%;
}
.logo h5{
    position: center;
    margin-top: 2px;
    margin-left: 0%;
    color: green;
} 
.logo a{
    text-decoration: none;
    cursor: cursor;
    color:rgb(215, 145, 25);
    font-style: inherit;
    
}
.support{
    margin-left:30%;
    margin-top: 2px;
}